.login {
	display: none;
	margin-bottom: remCalc( 24 );
	padding-top: remCalc( 24 );
	border-top: remCalc( 3 ) solid $colorGrayLight;

	&--expanded {
		display: flex;
		flex-wrap: wrap;
	}

	&__username {
		flex: 1 0 100%;
	}

	&__password {
		flex-grow: 1;
	}

	&__submit {
		$btn: &;
		width: remCalc( 50 );
		margin-left: remCalc( 12 );

		&__icon {
			position: relative;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transition: 0.5s linear;
			}

			&:before {
				width: remCalc( 3 );
				height: remCalc( 14 );
				background-color: white;
				transform: translate( -50%, -50% ) rotateZ( 90deg );
			}

			&:after {
				width: remCalc( 14 );
				height: remCalc( 14 );
				border: remCalc( 3 ) solid;
				border-color: white white transparent transparent;
				transform: translate( -45%, -50% ) rotateZ( 45deg );
			}

			#{$btn}--logging-in &:before {
				width: 0;
				height: 0;
				background-color: transparent;
			}

			#{$btn}--logging-in &:after {
				width: remCalc( 14 );
				height: remCalc( 14 );
				border: remCalc( 3 ) solid;
				border-radius: 50%;
				border-color: white white transparent transparent;
				background-color: transparent;
				animation: loginRotate 0.75s linear infinite;
			}
		}
	}
}


@keyframes loginRotate {
	0% {
		transform: translate( -50%, -50% ) rotateZ( 0 );
	}

	100% {
		transform: translate( -50%, -50% ) rotateZ( 360deg );
	}	
}