@import 'includes/_variables';
@import 'includes/_utilities';

@import 'components/_popup';
@import 'components/_input';
@import 'components/_button';
@import 'components/_header';
@import 'components/_login';
@import 'components/_article';
@import 'components/_notice';
// @import 'components/_header';

*,
*:before,
*:after {
	box-sizing: border-box;
}

a,
button {
	border: none;
	cursor: pointer;
	background: none;
	text-decoration: none;
	transition: background-color .2s;
}


// :root {
// 	--fontBold: 700;
// 	--fontMuli: 'Mulish', sans-serif;
// 	--fontReg: 400;
// 	--gray: #b2b2b2;
// 	--grayLight: #f2f2f2;
// 	--green: #0b594b;
// 	--greenLight: #1ca38a;
// 	--purple: #6e6995;
// 	--red: #b90f24;
// 	--teal: #0fa1b9;
// 	--yellow: #f7b243;
// }


// #loa_popup {
// 	width: 350px;
// 	padding: 24px 24px;
// 	font-family: var(--fontMuli);
// 	font-weight: var(--fontReg);
// 	font-size: 16px;
// }

// a,
// button {
// 	border: none;
// 	cursor: pointer;
// 	background: none;
// 	text-decoration: none;
// 	transition: background-color .2s;
// }

// .form {
// 	display: flex;
// 	flex-wrap: wrap;
// }

// .form__input,
// .form__tags {
// 	display: block;
// 	height: 50px;
// 	padding: 12px 18px;
// 	font-size: 16px;
// 	color: var(--gray);
// 	background-color: var(--grayLight);
// 	border: 2px solid var(--grayLight);
// }

// .form__input {
// 	width: 100%;
// 	margin-bottom: 12px;
// 	line-height: 50px;
// 	transition: background-color .2s;
// }

// .form__input.is-error {
// 	border-color: var(--red);
// }

// .form__input.is-success {
// 	border-color: var(--green);
// }

// .form__input:focus,
// .form__input:active,
// .form__tags:focus,
// .form__tags:active {
// 	background-color: white;
// }

// .form__tags {
// 	display: block;
// 	flex: 1;
// 	margin: 0 12px 0 0;
// }

// .form__tags option {
// 	color: black;
// }

// .form__tags option:selected,
// .form__tags option:highlighted,
// .form__tags option:active,
// .form__tags option:focus {
// 	color: red;
// }

// .form__submit {
// 	position: relative;
// 	display: block;
// 	align-self: flex-end;
// 	padding: 12px;
// 	width: 50px;
// 	height: 50px;
// 	margin-left: auto;
// 	background-color: var(--green);
// }

// .form__submit.is-error {
// 	background-color: var(--red);
// 	pointer-events: none;
// }

// .form__submit.is-submitting {
// 	background-color: var(--purple);
// 	pointer-events: none;
// }

// .form__submit:hover {
// 	background-color: var(--greenLight);
// }

// .icon {
// 	font-style: normal;
// }

// .icon--submit:before,
// .icon--submit:after {
// 	content: '';
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	display: block;
// 	width: 15px;
// 	height: 2px;
// 	background-color: white;
// 	transition: .25s;
// 	border: 0px solid white;
// }

// .icon--submit:before {
// 	transform: translate(-50%, -50%);
// }

// .icon--submit:after {
// 	transform: translate(-50%, -50%) rotateZ(-90deg);
// }

// .form__submit.is-error .icon--submit:before {
// 	transform: translate(-50%, -50%) rotateZ(45deg);
// }

// .form__submit.is-error .icon--submit:after {
// 	transform: translate(-50%, -50%) rotateZ(-45deg);
// }

// .form__submit.is-submitting .icon--submit:before,
// .form__submit.is-submitting .icon--submit:after {
// 	height: 15px;
// 	border: 2px solid transparent;
// 	border-radius: 50%;
// 	background-color: transparent;
// 	animation: 1s simpleSpin infinite;
// }

// .form__submit.is-submitting .icon--submit:before {
// 	border-top-color: white;
// 	transform: translate(-50%, -50%);
// }

// .form__submit.is-submitting .icon--submit:after {
// 	border-bottom-color: white;
// 	transform: translate(-50%, -50%);
// }

// .form__submit.is-success .icon--submit:before {
// 	left: calc(50% - 3px);
// 	top: calc(50% + 2px);
// 	width: 8px;
// 	transform: translate(-50%, -50%) rotateZ(45deg);
// }

// .form__submit.is-success .icon--submit:after {
// 	left: calc(50% + 5px);
// 	transform: translate(-50%, -50%) rotateZ(-45deg);
// }

// .icon--submit:before,
// .icon--submit:after {
// 	content: '';
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	display: block;
// 	width: 15px;
// 	height: 2px;
// 	background-color: white;
// }

// .form__submit .icon {
// 	color: white;
// 	font-weight: var(--fontBold);
// }

// .bottom {
// 	display: flex;
// 	justify-content: space-between;
// 	margin-top: 24px;
// }

// .bottom__loa {
// 	display: block;
// 	color: white;
// 	height: 40px;
// 	padding: 0 18px;
// 	font-size: 14px;
// 	line-height: 40px;
// 	border-radius: 6px;
// 	background-color: var(--teal);
// }

// .bottom__loa:hover {
// 	color: white;
// 	background-color: var(--purple);
// }

// .bottom__login {
// 	position: relative;
// }

// .bottom__login__btn {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	height: 40px;
// 	background: none;
// 	transition: transform .2s;
// }

// .bottom__login__btn.is-wiggling {
// 	animation: 2s simpleWiggle .25s;
// }

// .icon--login {
// 	position: relative;
// 	left: -3px;
// }

// .icon--login svg {
// 	height: 24px;
// }

// .icon--login svg path {
// 	fill: var(--red);
// 	transition: .2s;
// }

// .is-logged-in {
// 	cursor: not-allowed;
// }

// .is-logged-in .icon--login svg path {
// 	fill: var(--green);
// }

// .bottom__login__btn:not(.is-logged-in):hover svg path {
// 	fill: var(--purple);
// }

// .login__input {
// 	position: absolute;
// 	top: 0;
// 	right: 45px;
// 	display: none;
// 	width: 140px;
// 	height: 40px;
// 	padding: 9.6px 14.4px;
// 	font-size: 13px;
// 	color: var(--gray);
// 	border: 2px solid var(--grayLight);
// 	transition: .2s;
// }

// .login__input.is-active {
// 	display: block;
// }

// .login__input.is-error {
// 	border-color: var(--red);
// }

// .notice {
// 	min-height: 40px;
// 	margin-bottom: 12px;
// 	padding: 12px 16px;
// 	font-weight: var(--fontBold);
// 	font-size: 13px;
// 	color: white;
// }

// .notice.is-error {
// 	background-color: var(--red);
// }

// .notice.is-success {
// 	background-color: var(--green);
// }

// .notice.is-warning {
// 	background-color: var(--yellow);
// }


// @keyframes simpleSpin {
// 	0% {
// 		transform: translate(-50%, -50%) rotateZ(0);
// 	}

// 	100% {
// 		transform: translate(-50%, -50%) rotateZ(360deg);
// 	}
// }

// @keyframes simpleWiggle {
// 	0% {
// 		transform: rotateZ( -15deg );
// 	}

// 	5% {
// 		transform: rotate( 15deg );
// 	}

// 	10% {
// 		transform: rotate( -15deg );
// 	}

// 	15% {
// 		transform: rotate( 15deg );
// 	}

// 	20% {
// 		transform: rotate( -15deg );
// 	}

// 	25% {
// 		transform: rotate( 0deg );
// 	}	
// }