$fontBold: 900;
$fontMuli: 'Mulish', sans-serif;
$fontReg: 400;

$colorGray: #b2b2b2;
$colorGrayLight: #f2f2f2;

$colorGreen: #0b594b;
$colorGreenLight: #1ca38a;

$colorPurple: #6e6995;
$colorRed: #b90f24;
$colorTeal: #0fa1b9;
$colorYellow: #f7b243;